@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/open-sans-light.woff2") format("woff2"),
    url("../fonts/open-sans-light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/open-sans-regular.woff2") format("woff2"),
    url("../fonts/open-sans-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/open-sans-bold.woff2") format("woff2"),
    url("../fonts/open-sans-bold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/open-sans-extrabold.woff2") format("woff2"),
    url("../fonts/open-sans-extrabold.woff") format("woff");
}
