.cart-modal {
  margin-top: 65px;
  width: 304px;
  padding: 27px 16px 26px;

  background-color: $white;

  @include tablet {
    width: 530px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @include desktop {
    padding-top: 24px;
  }

  @include desktop-large {
    padding-top: 27px;
  }
}

.cart-modal__top {
  margin-bottom: 24px;
  padding-left: 33px;
  border-bottom: 1px solid $gray-4;

  @include tablet {
    padding-left: 0;
  }
}

.cart-modal__continue {
  margin-bottom: 38px;
}

.cart-modal__title {
  margin-top: 0;
  margin-bottom: 18px;

  font-size: 20px;
  font-weight: 700;
  color: $black-transparent-1;
}

.cart-modal__content {
  height: 207px;
  overflow-y: auto;
}

.cart-modal__bottom {
  display: flex;
  flex-wrap: wrap;
}

.cart-modal__total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 33px;

  font-size: 20px;
  font-weight: 700;
  color: $black-transparent-1;
}

.cart-modal__check {
  width: 100%;
  margin-bottom: 12px;
  padding-top: 9px;
  padding-bottom: 11px;

  font-size: 20px;

  border-radius: 4px;

  @include tablet {
    margin-bottom: 19px;
  }
}

.cart-modal__delete-all {
  margin-left: auto;
  font-size: 12px;

  @include tablet {
    font-size: 14px;
  }
}
