.header {
  flex-shrink: 0;
  background-color: $black;

  color: $white;
}

.header__container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 65px;
  padding-right: 15px;
  padding-left: 15px;

  @include tablet {
    max-width: none;
  }

  @include desktop {
    max-width: 958px;
  }

  @include desktop-large {
    max-width: 1138px;
  }
}
