.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.list--features {
  position: relative;

  padding-top: 60px;
  padding-bottom: 54px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $gray-2;
  }

  & .list__title {
    min-height: 46px;
  }

  @include tablet {
    padding-top: 61px;
    padding-bottom: 59px;

    & .list__title {
      min-height: 44px;
    }
  }

  @include desktop {
    padding-bottom: 28px;

    & .list__item {
      width: 31%;
    }

    & .list__title {
      min-height: 46px;
    }
  }

  @include desktop-large {
    padding-top: 63px;
    padding-bottom: 29px;

    &::before {
      left: -17px;
      width: 103%;
    }

    & .list__item {
      width: 30%;
    }

    & .list__title {
      min-height: auto;
    }
  }
}

.list--support {
  padding-top: 60px;
  padding-bottom: 56px;

  & .list__item {
    margin-bottom: 31px;
  }

  & .list__title {
    min-height: 37px;
  }

  @include tablet {
    & .list__item {
      margin-bottom: 29px;
    }
  }

  @include desktop {
    padding-bottom: 29px;

    & .list__item {
      width: 48%;
    }
  }

  @include desktop-large {
    padding-bottom: 53px;

    & .list__title {
      margin-bottom: 0;
    }
  }
}

.list__item {
  margin-bottom: 33px;
  background-repeat: no-repeat;
  background-position: 0 0;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    margin-bottom: 33px;
  }
}

.list__item--money {
  background-image: url("../img/money@1x.png");
  background-size: 32px;

  @include retina {
    background-image: url("../img/money@2x.png");
  }
}

.list__item--secure {
  background-image: url("../img/secure@1x.png");
  background-size: 27px 32px;

  & .list__title {
    padding-left: 42px;
  }

  @include retina {
    background-image: url("../img/secure@2x.png");
  }
}

.list__item--get {
  background-image: url("../img/get@1x.png");
  background-size: 32px;

  @include retina {
    background-image: url("../img/get@2x.png");
  }
}

.list__item--phone {
  background-image: url("../img/phone@1x.png");
  background-size: 31px 33px;

  @include retina {
    background-image: url("../img/phone@2x.png");
  }
}

.list__item--support {
  background-image: url("../img/support@1x.png");
  background-size: 32px;

  @include retina {
    background-image: url("../img/support@2x.png");
  }
}

.list__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-left: 48px;

  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;

  @include desktop-large {
    margin-bottom: 13px;
  }
}

.list__description {
  margin-top: 0;
  margin-bottom: 0;
}
