.payment {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 49px;
  padding-left: 0;
  list-style: none;

  @include tablet {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-bottom: 55px;
  }
}

.payment__item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  & img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @include tablet {
    margin-right: 48px;
  }
}
