mixin cart-item()
  article.cart-item
    .cart-item__img
      +picture({imgTitle: 'item', fileExtension: 'png', width: 134, height: 75, excludeScreen: 'onlydesktop', altText: 'alchemy of crystals sticker pack'})
    .cart-item__content
      h3.cart-item__title alchemy of crystals sticker pack
      span.cart-item__price(lang="ru") 99.0 руб.
      button.btn.btn--gray.cart-item__delete.js-delete-item(type="button") Delete
