mixin footer()
  footer.footer
    .container.footer__container
      a.logo.footer__logo(href="/")
        img(src="img/logo.svg" width="95" height="20" alt="movavi")
      button.btn.btn--blue.footer__clean.js-clean-localstorage(type="button") очистить LocalStorage
      form.footer__form
        h3.footer__form-title Sign up for news and special offers
        .field.footer__email
          input.field__input.footer__input(type="email" name="subscribe-email" id="subscribe-email" placeholder="user@email.com" required)
          label.sr-only(for="subscribe-email")
          button.btn.footer__sign-up(type="submit") Sing Up
        .field-checkbox.footer__consent
          input.sr-only.field-checkbox__input(type="checkbox" name="subscribe-consent" id="subscribe-consent" required)
          label.field-checkbox__label.footer__consent-label(for="subscribe-consent") By signing up, you consent to receive our marketing emails and agree to Movavi using your personal data in accordance with our #[a.link-blue(href="#") Privacy Policy]. You also confirm that you meet the #[a.link-blue(href="#") minimum age requirements].
