mixin modal-cart()
  .modal.js-modal
    .cart-modal.js-cart-modal
      .cart-modal__top
        button.btn.link-blue.cart-modal__continue.js-modal-close(type="button")
          svg.btn__icon(width="6" height="11")
            use(xlink:href="img/sprite.svg#arrow-left")
          | Continue Shopping
        h2.cart-modal__title Shopping Cart
        .cart-modal__content
      .cart-modal__bottom
        .cart-modal__total
          span Total:
          span.js-total-price(lang="ru")
        a.btn.btn--blue.cart-modal__check(href="#") Check out
        button.btn.btn--gray.cart-modal__delete-all.js-delete-all(type="button") Delete All
