include ../blocks/utils/picture.pug
include ../blocks/common/list.pug
include ../blocks/common/header.pug
include ../blocks/common/footer.pug
include ../blocks/common/modal-cart.pug
include ../blocks/common/cart-item.pug
include ../blocks/index-page/products.pug
include ../blocks/index-page/product.pug
include ../blocks/index-page/payment.pug
